<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ7bPB16yluFjV-nH5ep_7z7Khk4w_Om4</string>
	<key>GCM_SENDER_ID</key>
	<string>595163256812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payBill</string>
	<key>PROJECT_ID</key>
	<string>paybill-gerenciadordecontas</string>
	<key>STORAGE_BUCKET</key>
	<string>paybill-gerenciadordecontas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595163256812:ios:ccecbb879fe24c1ce852c9</string>
</dict>
</plist>